{% extends 'app/base.html' %}

{% block content %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">

                <h2 class="text-center">Agregar Servicio</h2>
                <hr>

                {% if user.is_superuser %}
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="nombre" class="form-label">Nombre:</label>
                            <input type="text" name="nombre" class="form-control" required>
                        </div>

                        <div class="mb-3">
                            <label for="precio" class="form-label">Precio:</label>
                            <input type="number" name="precio" class="form-control" required>
                        </div>

                        <div class="mb-3">
                            <label for="descripcion" class="form-label">Descripción:</label>
                            <textarea name="descripcion" class="form-control"></textarea>
                        </div>

                        <div class="mb-3">
                            <label for="imagen" class="form-label">Imagen:</label>
                            <input type="file" name="imagen" class="form-control" accept="image/*" required>
                        </div>

                        <button type="submit" class="btn btn-primary btn-block">Agregar Servicio</button>
                    </form>
                {% else %}
                    <div class="alert alert-danger mt-4" role="alert">
                        Acceso Denegado
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock content %}