{% extends 'app/base.html' %}

{% block content %}
    <h2 class="text-center">Editar Servicio</h2>
    <hr>
    {% if user.is_superuser %}
        <div class="row justify-content-center">
            <form method="post" action="{% url 'editar_servicio' servicio.id_servicio %}" class="col-sm-6">
                {% csrf_token %}
                
                <div class="mb-3">
                    <label for="nombre" class="form-label">Nombre:</label>
                    <input type="text" id="nombre" name="nombre" value="{{ servicio.nombre }}" class="form-control" required>
                </div>

                <div class="mb-3">
                    <label for="descripcion" class="form-label">Descripción:</label>
                    <textarea id="descripcion" name="descripcion" class="form-control" required>{{ servicio.descripcion }}</textarea>
                </div>

                <div class="mb-3">
                    <label for="precio" class="form-label">Precio:</label>
                    <input type="text" id="precio" name="precio" value="{{ servicio.precio }}" class="form-control" required>
                </div>

                <button type="submit" class="btn btn-primary">Guardar cambios</button>
            </form>
        </div>
    {% else %}
        <div class="alert alert-danger" role="alert">
            Acceso Denegado
        </div>
    {% endif %}
{% endblock content %}